# How to Data Wrangling or Data Pre-Processing/ Data Manipulation
## Steps:
### Collect Raw Data,  Clean Data, Filter Data, Delete Missing Value, Tide-up Data, Join Data
### Split Up Data 
### Duplicate Data
## Final Data for Analysis

# Content
### 1- Hundle Missing Value
### 2- Data Formating
### 3- Data Normilization
###     *- Scaling
###     *- Centralizing
### 1- Data Binning
###     *- For Groups of Data 
### 1- Making Dummies or Categorical Data 
###     *- Categorical ----> Nomarical Data

In [ ]:
#instal important library
#pip install pandas
#pip install numpy
#pip install seaborn

# import the library

import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
kasti= sns.load_dataset('titanic')
ks1=kasti
ks2=kasti

In [ ]:
#Simple operation
kasti =  (kasti['age']*6).head(10)

kasti.head()

# Dealing With Missing Value
Missing Value like , N/A NaN,0 Blank cell
## Step For dealing with missing value
### try to collect again the Data
### remove the colum if not effect on the data or simple remove the row 
### Replace the Missing Value
    Avarge value of entire variable or similar data point
    frequency or MOD replacement
    Replace on the base of other data
    ML algo use

In [ ]:
# Check Where exactly missing Values are?
kasti.isnull().sum()
kasti.shape

In [ ]:
# Use the Dropna Method for removing the Missng value colum
kasti.dropna(subset=['deck'], axis=0, inplace=True )
kasti.shape

In [ ]:
kasti.isnull().sum()

In [ ]:
# remove  Na from whole dataframe
kasti=kasti.dropna()
kasti.isnull().sum()

In [ ]:
kasti.shape

In [ ]:
ks1.isnull().sum()

# Replacing the missing  Value with avarge of that colum

In [ ]:
#Finding the Avarge mean
mean= ks1['age'].mean()
mean

In [ ]:
# Replacing the Missing value in age colum with the  Avg value
ks1['age']=ks1['age'].replace(np.nan, mean)

In [ ]:
# How to replacce the  deck value withh the mean value

# to work again

#ks1['deck']=ks1['deck'].replace(np.nan, mean)
#ks1.isnull().sum()
#ks1['deck']

In [ ]:
ks1.head()

In [ ]:
ks1['embarked']=ks1['embarked'].dropna()
ks1.isnull().sum()

# Data Formatting
    Make a data as a standard
    must be data is consitant or understandable

In [ ]:
#know the data type and type coverting
kasti.dtypes

In [ ]:
# use this method to convert datatype with another   format

kasti['survived']=kasti['survived'].astype('int64')
kasti.dtypes

In [ ]:
# convert age year into days
ks1['age']=ks1['age']*365
ks1.head()

In [ ]:
#always rename afterward
ks1.rename(columns={'age': 'Age in days'}, inplace=True)
ks1.head()

# Data Normalization    
uniform the data
they have same impact

In [ ]:
ks2.head()

In [ ]:
kastii= sns.load_dataset('titanic')
ks4=kastii
kastii['age']=kastii['age']*12

# Method of normalization
    simple feature scaling
    x(new)= x(old)/x(max)
Min-max method
Z-scoring  
log transformation

In [ ]:
ks3=kastii [['age','fare']]
ks3.head()

In [ ]:
# Simple Feature Scaling
ks3['fare']=ks3['fare']/ks3['fare'].max()
ks3['age']=ks3['age']/ks3['age'].max()
ks3.head()

In [ ]:
# Min to Max method
ks3['fare']=(ks3['fare']-ks3['fare'].min())/(ks3['fare'].max()-ks3['fare'].min())
ks3.head()

In [ ]:
# Z-scrore method
ks3['fare']=(ks3['fare']-ks3['fare'].mean ())/(ks3['fare'].std())
ks3

# log formation

In [ ]:
ks4.head()

In [ ]:
ks4['fare']= np.log(ks4['fare'])
ks4.head()

# Binning

In [ ]:
bins= np.linspace (min(kastii['age']), max(kastii['age']),1500)
age_group=[" Adult"," Young","old"]
kastii['age']=pd.cut (kastii['age'], bins, labels=age_group, include_lowest=True)
kastii['age']